* {
    font-family: Georgia, serif;
    box-sizing: border-box;
    
}

body {
    background-color: beige;
}

img {
    border: 5px solid burlywood;
    border-radius: 10px;
}

ul {
    list-style-type: none;
}

.page-title {
    font-size: 45px;
    text-align: center;
}

.subheader {
    font-size: 25px;
}

.collage {
    display: inline-block;
    width: 33%;
    height: 400px;
    margin: 1px;
}


